{% extends '../base.html' %}

{% block content %}

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">ようこそ　{{user.username}}　さん</h3>
                    <hr class="login-hr">
                    <a class="button subtitle has-text-black" href="{% url 'tadoku:isbn' %}">本を登録する</a>

                </div>
            </div>
        </div>
    </section>
    
{% endblock content %}