{% extends '../base.html' %}

{% block content %}
<!-- django-widget-tweaksをロードする -->
{% load widget_tweaks %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">
                <div id="reader"></div>
                <hr class="login-hr">
                <form method="post">
                    {% csrf_token %}
                    {% if form.is_bound %}
                        {% render_field form.isbn class="input is-danger" placeholder='ISBNをハイフンなしで入力' %}
                        <div class='notification is-danger'>{{ form.isbn.errors }}</div>
                    {% else %}
                        {% render_field form.isbn class="input" placeholder='ISBNをハイフンなしで入力' %}
                    {% endif %}
                    

                    <div class='column'>
                        <input class='button' type="submit" value='送信'>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>
{% load static %}
<script src="https://unpkg.com/html5-qrcode"></script>
<script src="{% static "tadoku/js/isbn.js" %}"></script>
{% endblock content %}